@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: Red Hat Display;
    font-size: 16px;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

.container .card {
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    width: 23rem;
    height: auto;
    margin: auto;
    text-align: center;
}

.container .card .card-img {
    height: 187px;
    border-radius: 15px 15px 0 0;
}

/* ======== ORDER SUMMARY SECTION ========= */
.card .card-content {
    padding: 2.5rem 1.5rem;
}
.card .title {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}
.card .description {
    color: hsl(224, 23%, 55%);
    margin-top: 1rem;
    text-align: center;
}

/* ========= PRICE PLAN SECTION ========== */
.card .price-plan {
    background-color: hsl(225, 100%, 94%, 0.5);
    border-radius: 15px;
    height: 90px;
    width: auto;
    margin: 1rem auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.card .price-plan img {
    display: flex;
    align-self: center;
    width: fit-content;
}
.card .anual-plan {
    flex-direction: column; 
    margin-right: 2rem;
}
.price-plan .plan {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}
.price-plan .price {
    color: hsl(224, 23%, 55%);
}
.price-plan a {
    color: hsl(245, 75%, 52%);
    font-weight: 700;    
}
.price-plan a:hover {
    text-decoration: none;
    opacity: 0.7;
}

/* ======= BUTTONS ========== */
.buttons {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}
.btn {
    height: 50px;
    width: 100%;
    border-radius: 8px;
}
.btn:hover {
    cursor: pointer;
}
.pay {
    background-color: hsl(245, 75%, 52%);
    border: none;
    color: hsl(225, 100%, 94%);
    font-weight: 900;
    box-shadow: 0 8px 6px rgba(7, 23, 255, 0.245);
}
.pay:hover {
    background-color: hsla(245, 75%, 52%, 0.8);
}
.cancel {
    border: none;
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    background-color: transparent;
}
.cancel:hover {
    color: hsl(223, 47%, 23%);
}

/* ======== MOBILE DEVICES ======== */
@media  screen and (max-width: 375px) {
    body {
        background: url(images/pattern-background-mobile.svg) no-repeat;
        background-size: contain;
        background-color: hsl(225, 100%, 94%);
        font-size: 15px;
    }
    .container .card {
        width: 20rem;
    }
    .card .card-img {
        height: auto !important;
    }
    .price-plan img {
        height: auto!important;
        width: auto!important;
    }
    .price-plan .anual-plan {
        margin-right: 0;
    }
}

